<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, nav, mainSideBar, breadcrumb, mainContent, footer, otherStaticJs)">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:replace="${title}">Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Select2 -->
    <link rel="stylesheet" th:href="@{/css/select2.min.css}" href="../../../static/css/select2.min.css">
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}" href="../../../static/css/adminlte.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}" href="../../../static/css/bootstrap-table.min.css">
    <link rel="stylesheet" th:href="@{/css/manager-user.css}" href="../../../static/css/manager-user.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}" href="../../../static/css/bootstrap-datepicker.min.css">

    <!-- jQuery 3 -->
    <script th:src="@{/js/jquery.min.js}" src="../../../static/js/jquery.min.js"></script>
    <!-- <script src="dist/vendors.bundle.js"></script> -->
    <script th:src="@{/js/adminlte.min.js}" src="../../../static/js/adminlte.min.js"></script>
    <script th:src="@{/js/bootstrap-table.min.js}" src="../../../static/js/bootstrap-table.min.js"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}" src="../../../static/js/bootstrap-datepicker.min.js"></script>
    <!-- Select2 -->
    <script th:src="@{/js/select2.full.min.js}" src="../../../static/js/select2.full.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a th:href="@{/}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <b>A</b>LT
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <b>Admin</b>LTE
            </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top"  th:insert="${nav} ?: ~{}">
            navigation bar
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" th:insert="${mainSideBar} ?: ~{}">
        sidebar
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" th:insert="${breadcrumb} ?: ~{}">
            breadcrumb
        </section>

        <!-- Main content -->
        <section class="content"  th:insert="${mainContent} ?: ~{}">
            <!-- Small boxes (Stat box) -->
            <!--<div class="row">
                <div class="col-lg-3 col-xs-6">
                    &lt;!&ndash; small box &ndash;&gt;
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>150</h3>

                            <p>New Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                &lt;!&ndash; ./col &ndash;&gt;
                <div class="col-lg-3 col-xs-6">
                    &lt;!&ndash; small box &ndash;&gt;
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>53
                                <sup style="font-size: 20px">%</sup>
                            </h3>

                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                &lt;!&ndash; ./col &ndash;&gt;
                <div class="col-lg-3 col-xs-6">
                    &lt;!&ndash; small box &ndash;&gt;
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                &lt;!&ndash; ./col &ndash;&gt;
                <div class="col-lg-3 col-xs-6">
                    &lt;!&ndash; small box &ndash;&gt;
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                &lt;!&ndash; ./col &ndash;&gt;
            </div>-->
            <!-- /.row -->
            <!-- Main row -->
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer" th:insert="${footer} ?: ~{}">
        Footer
    </footer>

    <!-- Control Sidebar -->
<!--    <aside class="control-sidebar control-sidebar-dark">
        &lt;!&ndash; Tab panes &ndash;&gt;
        <div class="tab-content">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Some information about this general settings option
                    </p>
                </div>
                &lt;!&ndash; /.form-group &ndash;&gt;

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Allow mail redirect
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Other sets of options are available
                    </p>
                </div>
                &lt;!&ndash; /.form-group &ndash;&gt;

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Expose author name in posts
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Allow the user to show his name in blog posts
                    </p>
                </div>
                &lt;!&ndash; /.form-group &ndash;&gt;
            </form>
            &lt;!&ndash; /.tab-pane &ndash;&gt;
        </div>
    </aside>-->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- Other javascript, css source files -->
<th:block th:replace="${otherStaticJs} ?: ~{}"></th:block>

</body>

</html>