<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>EMS - Student Enrollment Management System</title>
</head>
<body>
<h1><p th:text="${error}">Access Denied</p></h1>
<p th:text="${status}">Error</p>
<p th:text="${messages}">Error</p>
</body>
</html>