<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
</head>
<body>


<!-- Default Navigator -->

<ul th:fragment = "nav-default">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/}">Search</a></li>
    <li><a th:href="@{/support}">Support</a></li>
</ul>

<!-- Admin Navigator -->

<ul th:fragment = "nav-admin">
    <li><a th:href="@{/admin/teacher}">Teacher</a></li>
    <li><a th:href="@{/admin/department}">Department</a></li>
</ul>



<div th:fragment="copyright">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016
        <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights reserved.
</div>



</body>
</html>