<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="@{/student/addStudent}">Create User</a>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Edit </th>
        <th> Score </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td colspan="2"> No data </td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.name}"> Name </span></td>
        <td><a th:href="@{/student/details/{id}(id=${student.id})}">Edit</a></td>
        <td><a th:href="@{/transcript/details/${student.id}}">View Score</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>